{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Paulo Portfolio Sample app</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link
    rel="stylesheet"
    href="{% static 'bootstrap.css' %}"
  />
</head>
<body class="base">
    <!-- _Navbar.html -->
    {% include 'paulo_portfolio/_navbar.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>